@import '../../theme/variables.css';

.navbar {
  background-color: var(--color-primary);
}

.navbar * {
  color: var(--color-white);
}

.navbar__dropdown .dropdown-menu {
  background-color: var(--color-primary);
}

.navbar__dropdown .dropdown-item {
  color: var(--color-white);
}

.navbar__dropdown .dropdown-item:hover {
  background-color: var(--color-primary-dark);
}
