.custom-navbar {
    background-color: #04356b !important;
  }
  .custom-navbar * {
    color: white !important;
  }
  
  .custom-dropdown .dropdown-menu {
    background-color: #04356b !important;
  }
  
  .custom-dropdown .dropdown-item {
    color: white !important;
  }
  .custom-dropdown .dropdown-item:hover {
    background-color: #03294d !important; /* Fondo más oscuro para el hover */
  }