@import '../../theme/variables.css';

.custom-navbar {
  background-color: var(--color-primary);
}

.custom-navbar * {
  color: var(--color-white);
}

.custom-dropdown .dropdown-menu {
  background-color: var(--color-primary);
}

.custom-dropdown .dropdown-item {
  color: var(--color-white);
}

.custom-dropdown .dropdown-item:hover {
  background-color: var(--color-primary-dark);
}
