#login {
  background-image: url('../../../assets/images/bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body, html, #root {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  height: 100%;
  width: 100%;
}