.section,
.section-left,
.section-right {
  margin: 20px 10px 7px 10px !important; /* Mantener el margen general */
  padding: 10px 0 !important;
  background-color: white;
  box-shadow: 0px 0px 2px 0px #000;
  border-radius: 5px;
}

.section-left {
  margin-right: 0px !important; /* Ajuste específico para la sección izquierda */

}

.section-right {
  margin-left: 0px !important; /* Ajuste específico para la sección derecha */
}


.section2 {
  background-color: white;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 0px 2px 0px #000;
  border-radius: 5px;
}



#root {
  background-color: rgba(4, 53, 107, 0.2); /* 0.5 = 50% de opacidad */
  min-height: 100vh;
}