.custom-section {
  border-radius: 1rem;        /* equivalente a rounded-3 */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 
              0 4px 6px rgba(0, 0, 0, 0.05); /* shadow-lg de Tailwind */

  background-color: #fff;
  padding: 1rem;
  color: #666;
  margin: 10px;

}

.custom-section-buttons {
  margin: 1rem;
}

#root {
  background-color: rgba(4, 53, 107, 0.2); /* 0.5 = 50% de opacidad */
  min-height: 100vh;
  padding-bottom: 2px;
}

h1 {
  font-size: 1.5rem !important;
  font-weight: bold !important;
}

h2 {
  font-size: 1rem !important;
  font-weight: bold !important;
}

.custom-tooltip-primary .tooltip-inner {
  background-color: #0d6efd; /* Color de fondo de Bootstrap primary */
  color: #fff; /* Color de texto blanco para contraste */
  border: 1px solid #0d6efd; /* Borde del mismo color */
  padding: 10px 15px;
  border-radius: 0.375rem; /* El radio de borde por defecto de Bootstrap */
  font-size: 0.875rem; /* Tamaño de fuente por defecto de Bootstrap */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); /* Sombra ligera */
}

/* Estilos para la flecha del tooltip (ajústalos según la posición) */
/* Para posicionamiento "top" */
.bs-tooltip-top.custom-tooltip-primary .tooltip-arrow::before, .tooltip-arrow::after {
  border-top-color: #0d6efd;
}

/* Para posicionamiento "right" */
.bs-tooltip-right.custom-tooltip-primary .tooltip-arrow::before, .tooltip-arrow::after {
  border-right-color: #0d6efd;
}

/* Para posicionamiento "bottom" */
.bs-tooltip-bottom.custom-tooltip-primary .tooltip-arrow::before, .tooltip-arrow::after {
  border-bottom-color: #0d6efd;
}

/* Para posicionamiento "left" */
.bs-tooltip-left.custom-tooltip-primary .tooltip-arrow::before, .tooltip-arrow::after {
  border-left-color: #0d6efd;
}


.custom-section2 {
  border-radius: 1rem;        /* equivalente a rounded-3 */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 
              0 4px 6px rgba(0, 0, 0, 0.05); /* shadow-lg de Tailwind */
  padding: 1rem;              /* p-4 */
  margin: 0rem;
  margin-top: 1rem;
}

select option {
  font-weight: bold;
}